name: Build and Push Docker Images

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Backend
      - name: Build backend image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/qlts-backend:latest ./backend

      - name: Push backend image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/qlts-backend:latest

      # Frontend
      - name: Build frontend image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/qlts-frontend:latest ./frontend

      - name: Push frontend image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/qlts-frontend:latest
