name: Build and Push Single Docker Image

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build combined image (frontend + backend)
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/qlts-cicd:latest .

      - name: Push combined image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/qlts-cicd:latest
